// javscript function is a block of code designed to perform a particuar task
// there are two terms
// // function declaration
// // funtion call

// function can be decled in three way
// function declaration 
// funtion expresion
//  arrow funtion

// wat is written in the parentiss is called parameter
//function expression
// function expression is when u save function declaration in a variables
// nested function is a function  written inside another funtion